<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommendation</title>
</head>
<body>
    <h1>Music Recommendation</h1>
    <form action="/recommend" method="post">
        <p style="color: red;">NOTICE: please use ', '(comma + space) to separate the music you like</p>
        <label for="music_input">Enter the music you like:</label><br>
        <input type="text" id="music_input" name="music_input" size="50"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
